.header {
  display: flex;
  justify-content: center;
  margin: 4vh 0;
}
.purple {
  background-color: mediumpurple;
  height: 15vh;
  width: 100vh;
  border: black solid;
}
.color-wrap {
  display: flex;
  justify-content: center;
}
.color {
  height: 750px;
  width: 300px;
  border: black solid;
}
#red {
  background-color: indianred;
  margin-right: 69px;
}
#green {
  background-color: darkseagreen;
  margin-right: 69px;
}
#orange {
  background-color: darkorange;
}
body {
  margin: 0;
}
