body {
  background-color: #708b66;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#wrap {
  margin-left: 10%;
  margin-right: 10%;
}
#header {
  background-color: #b5b77c;
  display: flex;
  justify-content: flex-end;
}
#header h1 {
  margin-right: 5%;
}
#nav {
  background-color: #689e58;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-bottom: white dashed;
}
#nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
#nav ul li a {
  margin-right: 40px;
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: center;
}
#sidebar {
  background-color: #b5b77c;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
